html, body {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AdonisSection {
  background-image: url("/splash.png");
  background-color: #220052;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  position: relative;
  text-align: center;
  height: 550px;
}

.Centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  background: url("/logo.svg") no-repeat;
  width: 36px;
  height: 33px;
  background-size: 100%;
  margin-bottom: 35px;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 1.3s forwards;
}

.title {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.5;
    opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.2s forwards;
}

.subtitle {
  margin-top: 25px;
  color: #BDB3CB;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

